.animate-block{
  margin-bottom: 38px;
  &.vertical{
    overflow: hidden;
    @include media('<tablet') {
      margin-bottom: 15px;
    }
    .container-big{
      display: block;
      padding: 0;
      margin: 0;
    }
    figure.snip0016{
      width: 100%;
      min-height: 320px;
      margin-bottom: 40px;
      background: $white;
      border-radius: 8px 0 0 8px;
      @include media('<tablet') {
        min-height: 254px;
        margin-bottom: 15px;
      }
      &:hover{
        figcaption{
          &:before{
            background: transparent;
            border-color: $blue;
          }
          > a{
            &:before{
              transform: translateX(0);
              border-color: $blue;
            }
          }
          h2, p{
            color: $blue;
          }
        }
      }
      figcaption{
        @include media('<1650px') {
          padding: 62px 15px 62px 5em;
        }
        @include media('<widescreen') {
          padding: 30px 15px 30px 3em;
        }
        @include media('<desktop') {
          padding-left: 1em;
        }
        @include media('<tablet') {
          position: static;
          padding-top: 20px;
        }
        &:before{
          left: 75px;
          transition-delay: 0s;
          @include media('<1550px') {
            top: 40px;
            bottom: 40px;
          }
          @include media('<widescreen') {
            left: 35px;
          }
          @include media('<desktop') {
            display: none;
          }
        }
        > a{
          &:before{
            @include animate(transform border-color);
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateX(40px);
            border: 2px solid map-get($base, 'base-text-color');
            border-radius: 8px 0 0 8px;
            @include media('<desktop') {
              transform: translateX(0);
            }
            @include media('<tablet') {
              border-radius: 8px;
            }
          }
        }
        h2, p{
          opacity: 1;
          color: map-get($base, 'base-text-color');
          transform: translate3d(0%, 0%, 0);
          max-width: 475px;
        }
        h2{
          @include media('<1550px') {
            font-size: 30px;
          }
          @include media('<tablet') {
            font-size: 25px;
          }
        }
        p{
          @include media('<1550px') {
            font-size: 18px;
          }
          @include media('<tablet') {
            font-size: 16px;
          }
        }
      }
    }
  }
  .news-archive-page &{
    padding: 0 20px;
    @include media('<widescreen') {
      padding: 0 8px;
    }
    @include media('<tablet') {
      padding: 0 15px;
    }
  }
    .container-big{
        display: flex;
        justify-content: space-between;
        @include media('<tablet') {
          display: block;
        }
        .news-archive-page &{
          justify-content: stretch;
          padding: 0;
          max-width: 1880px;
          flex-wrap: wrap;
        }
    }
    figure{
        &.snip0016{
          .news-archive-page &{
            width: calc(33.33% - 40px);
            margin: 0 20px 40px;
            @include media('<widescreen') {
              width: calc(33.33% - 15px);
              margin: 0 7px 15px;
            }
            @include media('<tablet') {
              width: 100%;
              margin: 0 0 15px;
            }
          }
            &:hover{
                .first-title{
                    animation: fade-out 0.35s forwards;
                    animation-fill-mode: both;
                    opacity: 0;
                    visibility: hidden;
                }
            }
            .first-title{
                font: 30px/1.25 map-get($base, 'bold-font-family');
                text-transform: uppercase;
                position: absolute;
                top: 19%;
                left: 17%;
                right: 14%;
                opacity: 1;
                visibility: visible;
                animation: fade-in 0.35s forwards;
                animation-delay: 1s;
                animation-fill-mode: both;
                @include media('<1650px') {
                  top: 15%;
                  left: 10%;
                }
                @include media('<1550px') {
                  font-size: 25px;
                }
                @include media('<desktop') {
                  font-size: 18px;
                }
                @include media('<tablet') {
                  top: 24%;
                  left: 7%;
                }
            }
        }
    }
}
figure.snip0016 {
    width: 32%;
    color: #fff;
    position: relative;
    overflow: hidden;
    margin: 0;
    background: $blue;
    border-radius: 8px;
    text-align: left;
    @include media('<tablet') {
      width: 100%;
      margin-bottom: 15px;
    }
  }
  figure.snip0016 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  figure.snip0016 img {
    max-width: 100%;
    opacity: 0.73;
    border-radius: 8px 8px 0 0;
    width: 100%;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
  }
  figure.snip0016 figcaption {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 62px 15px 62px 5em;
    width: 100%;
    height: 100%;
    @include media('<1650px') {
      padding: 35px 15px 62px 2em;
    }
    @include media('<widescreen') {
      padding: 20px 15px 20px 2em;
    }
    @include media('<desktop') {
      padding: 10px 10px 10px 1em;
    }
  }
  figure.snip0016 figcaption::before {
    position: absolute;
    top: 40px;
    right: 30px;
    bottom: 80px;
    left: 100%;
    border-left: 4px solid rgba(255, 255, 255, 0.8);
    content: '';
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
    @include media('<1550px') {
      top: 20px;
      bottom: 20px;
    }
    @include media('<desktop') {
      top: 10px;
      bottom: 10px;
      right: 10px;
    }
  }
  figure.snip0016 h2,
  figure.snip0016 p {
    margin: 0 0 10px;
    opacity: 0;
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s,-webkit-transform 0.35s,-moz-transform 0.35s,-o-transform 0.35s,transform 0.35s;
  }
  figure.snip0016 h2 {
    font: 30px/1.25 map-get($base, 'base-font-family');
    color: $white;
    text-transform: uppercase;
    -webkit-transform: translate3d(30%, 0%, 0);
    transform: translate3d(30%, 0%, 0);
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
    max-width: 305px;
    @include media('<1550px') {
      font-size: 25px;
    }
    @include media('<desktop') {
      font-size: 18px;
    }
  }
  figure.snip0016 h2 span {
    font-family: map-get($base, 'bold-font-family');
  }
  figure.snip0016 p {
    font: 18px/1.3 map-get($base, 'base-font-family');
    -webkit-transform: translate3d(0%, 30%, 0);
    transform: translate3d(0%, 30%, 0);
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    max-width: 305px;
    @include media('<1550px') {
      font-size: 16px;
    }
    @include media('<desktop') {
      font-size: 14px;
    }
  }
  figure.snip0016 a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    color: #ffffff;
  }
  figure.snip0016:hover img {
    opacity: 0.13;
  }
  figure.snip0016:hover figcaption h2 {
    opacity: 1;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
  }
  figure.snip0016:hover figcaption p {
    opacity: 0.9;
    -webkit-transform: translate3d(0%, 0%, 0);
    transform: translate3d(0%, 0%, 0);
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }
  figure.snip0016:hover figcaption::before {
    background: rgba(255, 255, 255, 0);
    left: 82px;
    opacity: 1;
    -webkit-transition-delay: 0s;
    transition-delay: 0s;
    @include media('<1650px') {
      left: 30px;
    }
    @include media('<desktop') {
      left: 10px;
    }
  }