.content-block{
    @include media('<tablet') {
        font-size: 16px;
        line-height: 1.5;
    }
    .projects-page &{
        width: 44.5%;
    }
    .container{
        max-width: 930px;
    }
    img{
        width: 100%;
        border-radius: 8px;
        margin: 64px 0 78px;
        @include media('<tablet') {
            margin: 15px 0 30px;
        }
    }
    h1, h2, h3, h4, h5, h6{
        font: 65px/1 map-get($base, 'regular-font-family');
        color: $blue;
        @include media('<tablet') {
            font-size: 50px;
        }
        .projects-page &{
            margin: 0 0 38px;
        }
    }
    h2{
        font-size: 60px;
        @include media('<tablet') {
            font-size: 45px;
        }
    }
    h3{
        font-size: 45px;
        @include media('<tablet') {
            font-size: 40px;
        }
    }
    h4{
        font-size: 37px;
        @include media('<tablet') {
            font-size: 30px;
        }
    }
    h5{
        font-size: 29px;
        @include media('<tablet') {
            font-size: 25px;
        }
    }
    h6{
        font-size: 25px;
        @include media('<tablet') {
            font-size: 20px;
        }
    }
    p{
        margin: 0 0 30px;
        text-align: justify;
        @include media('<tablet') {
            margin-bottom: 24px;
        }
    }
    .link-holder{
        text-align: center;
        margin: 79px 0;
        a{
            @include animate(opacity);
            font: 24px/1 map-get($base, 'bold-font-family');
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            border: 2px solid $blue;
            border-radius: 8px;
            padding: 20px 10px;
            min-width: 430px;
            min-height: 150px;
            text-align: left;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            &:hover{
                opacity: 0.73;
            }
            .inner{
                position: relative;
                padding: 0 0 0 70px;
            }
            .ico{
                font-size: 47px;
                position: absolute;
                top: 0;
                left: 0;
            }
        }
    }
}