.simple-select{
	+ .jcf-select{
		border-color: transparent;
		border-width: 0;
        border-radius: 0;
        border-bottom: 2px solid map-get($base, 'base-text-color');
		margin: 0;
		display: block;
		height: 40px;
        background: $white;
        position: relative;
		&.jcf-focus{
			.jcf-select-opener{
				
			}
		}
		.filter-line &{
			background: #f2f4f7;
			width: 100%;
			max-width: 587px;
			margin: 0 15px 0 0;
		}
		.jcf-select-text{
            font: 24px/1.3 map-get($base, 'regular-font-family');
            color: map-get($base, 'base-text-color');
			margin: 0;
            padding: 0 32px 0 22px;
            display: block;
            height: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            @include media('<tablet') {
                font-size: 20px;
            }
		}
		.jcf-select-opener{
            @extend .icon-chevron-down;
            position: absolute;
            top: 2px;
            right: 16px;
            &:before{
                font: 22px 'icomoon';
                color: map-get($base, 'base-text-color');
            }
		}
		.jcf-select-drop{
			background: $white;
			box-shadow: 0px 13px 33px 0 rgba(5, 75, 197, 0.33);
			margin-top: 2px;
			position: relative;
			z-index: 1;
			.jcf-select-drop-content{
				border: none;
				padding: 0;
			}
			.jcf-list{
                background: $white;
                ul{
                    @extend %listreset;
                }
				.jcf-option{
					font: 24px/1.3 map-get($base, 'regular-font-family');
                    color: map-get($base, 'base-text-color');
                    padding: 7px 22px;
                    display: block;
                    @include media('<tablet') {
                        font-size: 20px;
                    }
				}
				.jcf-hover{
					color: $white;
					background: $blue;
				}
			}
		}
	}
	+ .jcf-focus{
		border-color: map-get($base, 'base-text-color');
		background: $white;
		color: map-get($base, 'base-text-color');
	}
}
.jcf-focus, .jcf-focus *{
	border-color: $black;
}