.full-section {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.5s;
    transition-delay: 1s;
    z-index: 1;
    &.selected {
        opacity: 1;
        z-index: 2;
        .main-title{
            animation: main-title-in 1s forwards;
        }
        .scroll-down{
            animation: up-in 1s forwards;
        }
        .social{
            animation: up-in 1s forwards;
        }
    }
    &.first{
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    &.no-video{
        .sound-btn{
            display: none;
        }
    }
    .main-title{
        font: 60px/1.24 map-get($base, 'bold-font-family');
        letter-spacing: normal;
        color: $white;
        text-transform: uppercase;
        margin: 13% 0 0;
        max-width: 370px;
        animation: main-title-out 1s forwards;
    }
    .scroll-down{
        font: 45px/1.3 map-get($base, 'bold-font-family');
        color: $white;
        text-transform: uppercase;
        display: block;
        width: 20px;
        height: 250px;
        position: relative;
        animation: up-out 1s forwards;
        .label{
            font-size: 25px;
            transform: rotate(270deg);
            display: inline-block;
            position: absolute;
            bottom: 125px;
            left: -79px;
            letter-spacing: 2.3px;
            white-space: nowrap;
        }
        .ico{
            position: absolute;
            bottom: -13px;
            left: -11px;
        }
    }
    .bottom-part{
        position: fixed;
        bottom: 12%;
        left: 0;
        width: 100%;
        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    .sound-btn{
        @include animate(opacity);
        font-size: 50px;
        color: $white;
        background: none;
        outline: none;
        border: none;
        padding: 0;
        margin-bottom: -10px;
        opacity: 0.73;
        &.muted{
            @extend .icon-volume-off;
        }
        &:hover{
            opacity: 1;
        }
    }
    .video-bg{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}