.full-section {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    &.selected {
        .main-title{
            animation: main-title-in 1s forwards;
        }
        .scroll-down{
            animation: up-in 1s forwards;
        }
        .social{
            animation: up-in 1s forwards;
        }
    }
    &.first{
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
    }
    &.no-video{
        .sound-btn{
            display: none;
        }
        .main-title{
            display: block;
        }
    }
    .main-title{
        font: 60px/1.24 map-get($base, 'bold-font-family');
        letter-spacing: normal;
        color: $white;
        text-transform: uppercase;
        margin: 210px 0 0;
        max-width: 370px;
        animation: main-title-out 1s forwards;
        display: none;
        @include media('>=desktop', 'height<900px') {
            font-size: 45px;
            margin-top: 125px;
        }
        @include media('<=desktop') {
            font-size: 45px;
            margin-top: 180px;
            margin-left: 20px;
        }
        @include media('<tablet') {
            font-size: 36px;
            margin-top: 70px;
        }
    }
    .scroll-down{
        font: 45px/1.3 map-get($base, 'bold-font-family');
        color: $white;
        text-transform: uppercase;
        display: block;
        width: 20px;
        height: 250px;
        position: relative;
        animation: up-out 1s forwards;
        cursor: pointer;
        @include media('<tablet') {
            font-size: 23px;
        }
        .label{
            font-size: 25px;
            transform: rotate(270deg);
            display: inline-block;
            position: absolute;
            bottom: 125px;
            left: -65px;
            letter-spacing: 2.3px;
            white-space: nowrap;
            @include media('<tablet') {
                font-size: 17px;
                bottom: 62px;
                left: -49px;
            }
        }
        .ico{
            position: absolute;
            bottom: -13px;
            left: -11px;
            @include media('<tablet') {
                bottom: -15px;
                left: -5px;
            }
        }
    }
    .bottom-part{
        position: fixed;
        bottom: 12%;
        left: 0;
        width: 100%;
        @include media('<=desktop') {
            bottom: 7%;
        }
        .container{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
    }
    .sound-btn{
        @include animate(opacity);
        font-size: 25px;
        color: $white;
        background: none;
        outline: none;
        border: none;
        padding: 0;
        margin-bottom: -10px;
        opacity: 0.73;
        @include media('<desktop') {
            margin-bottom: -15px;
        }
        &.muted{
            @extend .icon-volume-off;
        }
        &:hover{
            opacity: 1;
        }
    }
    .video-bg{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.scroll-up{
    font: 45px/1.3 map-get($base, 'bold-font-family');
    color: $blue;
    text-transform: uppercase;
    display: block;
    width: 20px;
    height: 250px;
    position: absolute;
    bottom: 0;
    left: 15px;
    z-index: 1;
    cursor: pointer;
    @include media('<1310px') {
        @include animate(opacity, 1s);
        width: 45px;
        height: 45px;
        position: fixed;
        top: 95px;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        z-index: 4;
    }
    @include media('<tablet') {
        font-size: 25px;
        width: 25px;
        height: 25px;
        top: 50px;
    }
    .hide-section &{
        @include media('<1310px') {
            pointer-events: auto;
            opacity: 1;
            visibility: visible;
            background: $white;
            width: 100%;
            text-align: center;
        }
    }
    .hide-section.menu-active &{
        @include media('<1310px') {
            opacity: 0;
            visibility: hidden;
        }
    }
    .label{
        font-size: 25px;
        transform: rotate(270deg);
        display: inline-block;
        position: absolute;
        bottom: 63px;
        left: -35px;
        letter-spacing: 2.3px;
        white-space: nowrap;
        @include media('<1310px') {
            display: none;
        }
    }
    .ico{
        position: absolute;
        bottom: 155px;
        left: -14px;
        @include media('<1310px') {
            position: static;
        }
    }
}