.info-line{
    background: #f2f4f7;
    margin-bottom: 90px;
    @include media('<=desktop') {
        background: none;
    }
    @include media('<tablet') {
        margin-bottom: 18px;
      }
    .info-list{
        @extend %listreset;
        display: flex;
        @include media('<=desktop') {
            flex-wrap: wrap;
            margin: 0 -7px;
        }
    }
    li{
        width: 25%;
        @include media('<=desktop') {
            width: 50%;
            text-align: center;
            margin-bottom: 37px;
        }
    }
    a{
        width: calc(100% - 140px);
        padding: 36px 15px;
        margin: 0 70px;
        display: inline-block;
        text-decoration: none;
        position: relative;
        @include media('<1500px') {
            margin: 0 30px;
            width: calc(100% - 60px);
        }
        @include media('<=desktop') {
            margin: 0 7px;
            padding: 6px 15px 5px;
            width: calc(100% - 14px);
        }
        &:before{
            @include animate(opacity visibility);
            content: '';
            position: absolute;
            top: -10px;
            left: 0;
            bottom: -10px;
            right: 0;
            border-radius: 8px;
            background: $white;
            box-shadow: 5px 10px 85px -20px rgba(#0955d9, 0.5);
            opacity: 0;
            visibility: hidden;
            z-index: 1;
        }
        &:hover{
            &:before{
                opacity: 1;
                visibility: visible;
                @include media('<=desktop') {
                    opacity: 0;
                    visibility: hidden;
                }
            }
            .label{
                color: $blue;
                @include media('<=desktop') {
                    color: map-get($base, 'base-text-color');
                }
            }
        }
        &:focus{
            outline: none;
            &:before{
                @include media('<=desktop') {
                    opacity: 1;
                    visibility: visible;
                    background: $blue;
                }
            }
            .label{
                @include media('<=desktop') {
                    color: $white;
                }
            }
            .ico{
                @include media('<=desktop') {
                    color: $white;
                }
            }
        }
        .inner{
            display: flex;
            justify-content: center;
            @include media('<=desktop') {
                display: block;
            }
        }
    }
    .ico{
        font-size: 45px;
        color: $blue;
        position: relative;
        z-index: 2;
        width: 70px;
        flex: 0 0 auto;
        @include media('<widescreen') {
            width: 40px;
            font-size: 35px;
        }
        @include media('<=desktop') {
            font-size: 25px;
        }
    }
    .label{
        @include animate(color);
        font: 24px/1 map-get($base, 'bold-font-family');
        color: map-get($base, 'base-text-color');
        letter-spacing: normal;
        text-transform: uppercase;
        position: relative;
        z-index: 2;
        max-width: 130px;
        flex: 0 0 auto;
        @include media('<widescreen') {
            font-size: 20px;
            max-width: 105px;
        }
        @include media('<=desktop') {
            font-size: 18px;
            display: block;
            max-width: none;
            margin-top: 3px;
        }
    }
}