.main-image-block{
    padding: 0 40px;
    margin-bottom: 58px;
    @include media('<desktop') {
        padding: 0 15px;
    }
    @include media('<tablet') {
        margin-bottom: 15px;
    }
    &.image-right{
        margin-bottom: 48px;
        @include media('<desktop') {
            margin-bottom: 15px;
        }
        .overlay{
            background: linear-gradient(to right, rgba(0,37,102,1) 0%,rgba(0,37,102,1) 30%,rgba(0,37,102,0) 50%,rgba(0,37,102,0) 100%);
        }
        .title{
            font-size: 60px;
            line-height: 1.2;
            bottom: auto;
            left: 6.5%;
            top: 22%;
            max-width: 1070px;
            padding-right: 15px;
            @include media('<desktop') {
                font-size: 30px;
            }
            @include media('<tablet') {
                font-size: 20px;
            }
        }
    }
    &.with-titles{
        margin-bottom: 79px;
        @include media('<tablet') {
            margin-bottom: 15px;
        }
        .overlay{
            background: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(0, 37, 102, 0.5) 50%, rgba(0, 37, 102, 0.73) 100%);
        }
    }
    .projects-page &{
        margin-bottom: 70px;
        @include media('<desktop') {
            margin-bottom: 15px;
        }
    }
    .img-holder{
        position: relative;
        height: 555px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        overflow: hidden;
        @include media('<tablet') {
            height: 340px;
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,37,102,0) 50%,rgba(0,37,102,0.73) 100%);
    }
    .title{
        font: 30px/1.3 map-get($base, 'secondary-font-family');
        color: $white;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        bottom: 27px;
        left: 40px;
        @include media('<tablet') {
            font-size: 20px;
            left: 15px;
            bottom: 10px;
        }
    }
    .second-titles{
        display: flex;
        justify-content: space-between;
        max-width: 1555px;
        margin: 0 auto;
        padding: 90px 15px 0;
        @include media('<widescreen') {
            padding-top: 30px;
        }
        @include media('<tablet') {
            padding-top: 10px;
            display: block;
        }
        h2{
            font: 60px/1.25 map-get($base, 'secondary-font-family');
            color: $white;
            text-transform: uppercase;
            width: 49%;
            @include media('<widescreen') {
                font-size: 35px;
            }
            @include media('<tablet') {
                font-size: 20px;
                width: 100%;
            }
            &:first-of-type{
                .spincrement{
                    min-width: 160px;
                    @include media('<widescreen') {
                        min-width: 95px;
                    }
                    @include media('<tablet') {
                        min-width: 55px;
                    }
                }
            }
            &:last-of-type{
                .spincrement{
                    min-width: 280px;
                    @include media('<widescreen') {
                        min-width: 165px;
                    }
                    @include media('<tablet') {
                        min-width: 95px;
                    }
                }
            }
            .span{
                font-family: map-get($base, 'secondary-light-font-family');
                text-transform: none;
                display: block;
            }
            .spincrement{
                display: inline-block;
            }
        }
    }
    img{
        width: 100%;
        border-radius: 8px;
    }
}