@import 'common',
        'full-section',
        'menu',
        'social',
        'text-video-block',
        'info-line',
        'animate-block',
        'modals',
        'sub-menu',
        'main-image-block',
        'content-block',
        'timeline',
        'spare-list',
        'modal-spare',
        'custom-scroll',
        'video-block',
        'small-image-block';