.main-image-block{
    padding: 50px 40px 0;
    margin-bottom: 58px;
    @include media('<desktop') {
        padding: 15px 15px 0;
    }
    @include media('<tablet') {
        margin-bottom: 15px;
    }
    &.image-right{
        padding-top: 0;
        margin-bottom: 48px;
        @include media('<desktop') {
            margin-bottom: 15px;
        }
        .overlay{
            background: linear-gradient(to right, rgba(0,37,102,1) 0%,rgba(0,37,102,1) 30%,rgba(0,37,102,0) 50%,rgba(0,37,102,0) 100%);
        }
        .title{
            font-size: 60px;
            line-height: 1.2;
            bottom: auto;
            left: 6.5%;
            top: 22%;
            max-width: 1070px;
            padding-right: 15px;
            @include media('<desktop') {
                font-size: 30px;
            }
            @include media('<tablet') {
                font-size: 20px;
            }
        }
    }
    .img-holder{
        position: relative;
        height: 555px;
        background-position: 50% 50%;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 8px;
        overflow: hidden;
        @include media('<tablet') {
            height: 340px;
        }
    }
    .overlay{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(0,37,102,0) 50%,rgba(0,37,102,0.73) 100%);
    }
    .title{
        font: 30px/1.3 map-get($base, 'secondary-font-family');
        color: $white;
        text-transform: uppercase;
        margin: 0;
        position: absolute;
        bottom: 27px;
        left: 40px;
        @include media('<tablet') {
            font-size: 20px;
            left: 15px;
            bottom: 10px;
        }
    }
    img{
        width: 100%;
        border-radius: 8px;
    }
}