.menu{
    font: 18px/1.3 map-get($base, 'secondary-font-family');
    letter-spacing: normal;
    text-align: left;
    color: $white;
    margin-bottom: 5px;
    ul{
        @extend %listreset;
        display: flex;
    }
    li{
        &:not(:last-child){
            margin-right: 50px;
        }
        &.active{
            a{
                border-color: $white;
            }
        }
    }
    a{
        @include animate(border-color);
        color: $white;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        padding-bottom: 6px;
        &:hover{
            border-color: $white;
        }
    }
}