.fancybox-bg{
    background: $black;
    .fancybox-is-open &{
        opacity: 0.8;
    }
}
.fancybox-content{
    padding: 0;
    border-radius: 8px;
    box-shadow: 5px 50px 75px -40px #054bc5;
    .content-modal &{
        padding: 35px 35px 40px 40px;
        box-shadow: none;
        @include media('<tablet') {
            padding: 15px;
        }
    }
}
.fancybox-close-small{
    @include animate(opacity);
    @extend .icon-close;
    position: fixed;
    padding: 5px !important;
    right: 10px !important;
    top: 10px !important;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    .content-modal &{
        position: absolute;
        right: 30px !important;
        top: 15px !important;
        @include media('<tablet') {
            right: 0 !important;
            top: 0 !important;
        }
    }
    &:before{
        color: $white;
        font: 35px 'icomoon';
        .content-modal &{
            font-size: 50px;
            color: #333;
            @include media('<tablet') {
                font-size: 30px;
            }
        }
    }
    &:hover{
        opacity: 0.73;
    }
}
.fancybox-button{
    svg{
        display: none;
    }
}