.social{
    font-size: 47px;
    line-height: 1;
    @extend %listreset;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 -5px -13px 0;
    animation: up-out 1s forwards;
    li{
        margin-top: 25px;
    }
    a{
        @include animate(opacity);
        color: $white;
        text-decoration: none;
        &:hover{
            opacity: 0.73;
        }
    }
}