.text-video-block{
    max-width: 1870px;
    margin: 0 auto 105px;
    padding-top: 124px;
    position: relative;
    @include media('<=desktop') {
        margin-bottom: 80px;
    }
    @include media('<tablet') {
        padding-top: 0;
    }
    .container{
        max-width: 1240px;
        display: flex;
        justify-content: space-between;
        @include media('<tablet') {
            display: block;
            padding: 0 35px;
        }
    }
    .text-holder{
        font-size: 18px;
        line-height: 1.67;
        width: 63%;
        padding: 12px 0 0 0;
        position: relative;
        @include media('<desktop') {
            width: 55%;
            font-size: 16px;
            line-height: 1.5;
        }
        @include media('<tablet') {
            width: 100%;
            margin-bottom: 27px;
        }
        &:before{
            content: '';
            position: absolute;
            top: -29px;
            left: -158px;        
            width: 395px;
            height: 120px;
            z-index: 1;
            background: url(../images/logo-bg.png) no-repeat 0 0;
            @include media('<1550px') {
                top: -10px;
                left: -10px;
                width: 280px;
                height: 85px;
                background-size: cover;
            }
            @include media('<tablet') {
                width: 159px;
                height: 48px;
                top: 0;
                left: -20px;
            }
        }
        .text-inner{
            position: relative;
            z-index: 2;
        }
        p{
            margin: 0 0 30px;
            @include media('<tablet') {
                margin-bottom: 24px;
            }
            &:last-of-type{
                margin-bottom: 11px;
                @include media('<tablet') {
                    margin-bottom: 13px;
                }
            }
        }
        .link-holder{
            text-align: right;
        }
        .more-link{
            @extend .icon-arrow-right;
            font: 24px/1.25 map-get($base, 'regular-font-family');
            letter-spacing: normal;
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding-right: 60px;
            @include media('<desktop') {
                font-size: 20px;
                padding-right: 32px;
            }
            @include media('<tablet') {
                font: 16px/1.25 map-get($base, 'bold-font-family');
            }
            &:before{
                @include animate(transform);
                font: 25px 'icomoon';
                position: absolute;
                top: 5px;
                right: 26px;
                @include media('<desktop') {
                    top: 0;
                    right: -2px;
                }
                @include media('<tablet') {
                    top: -2px;
                }
            }
            &:hover{
                &:before{
                    transform: translateX(10px);
                }
            }
        }
    }
    .video-holder{
        width: 35.5%;
        @include media('<desktop') {
            width: 43.5%;
        }
        @include media('<tablet') {
            width: auto;
            margin: 0 -20px;
        }
        .thumb-video{
            border-radius: 8px;
            box-shadow: 5px 50px 75px -40px #054bc5;
            width: 100%;
        }
        a{
            @include animate(opacity);
            @extend .icon-play-circle-outline;
            cursor: pointer;
            display: block;
            position: relative;
            &:hover{
                opacity: 0.73;
            }
            &:before{
                opacity: 0.73;
                color: $white;
                font: 45px 'icomoon';
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
}