.text-video-block{
    max-width: 1870px;
    margin: 0 auto 105px;
    padding-top: 124px;
    position: relative;
    .container{
        max-width: 1240px;
        display: flex;
        justify-content: space-between;
    }
    .text-holder{
        font-size: 18px;
        line-height: 1.67;
        width: 63%;
        padding: 12px 0 0 0;
        position: relative;
        &:before{
            content: '';
            position: absolute;
            top: -29px;
            left: -158px;        
            width: 395px;
            height: 120px;
            z-index: 1;
            background: url(../images/logo-bg.png) no-repeat 0 0;
        }
        .text-inner{
            position: relative;
            z-index: 2;
        }
        p{
            margin: 0 0 30px;
            &:last-of-type{
                margin-bottom: 11px;
            }
        }
        .link-holder{
            text-align: right;
        }
        .more-link{
            @extend .icon-arrow-right;
            font: 24px/1.25 map-get($base, 'regular-font-family');
            letter-spacing: normal;
            text-decoration: none;
            position: relative;
            display: inline-block;
            padding-right: 60px;
            &:before{
                @include animate(transform);
                font: 25px 'icomoon';
                position: absolute;
                top: 5px;
                right: 26px;
            }
            &:hover{
                &:before{
                    transform: translateX(10px);
                }
            }
        }
    }
    .video-holder{
        width: 35.5%;
        .thumb-video{
            border-radius: 8px;
            box-shadow: 5px 50px 75px -40px #054bc5;
        }
    }
}