.vacancy-item{
    @include animate(border-color);
    font: 18px/1.25 map-get($base, 'base-font-family');
    color: map-get($base, 'base-text-color');
    background: $white;
    border: 2px solid map-get($base, 'base-text-color');
    border-radius: 8px;
    overflow: hidden;
    height: 100%;
    height: 320px;
    @include media('<desktop') {
        font-size: 14px;
        height: 205px;
    }
    &:hover{
        border-color: $blue;
        a{
            color: $white;
            background: $blue;
            .vacancy-title{
                &:before{
                    background: $white;
                }
            }
        }
        .inner{
            &:after{
                opacity: 1;
                height: 30px;
            }
        }
        .description{
            max-height: 0;
            opacity: 0;
        }
        .addon{
            opacity: 1;
        }
    }
    a{
        @include animate(color background);
        display: block;
        padding: 24px 60px 40px 40px;
        text-decoration: none;
        color: map-get($base, 'base-text-color');
        height: 100%;
        @include media('<1300px') {
            padding: 24px 20px 40px;
        }
        @include media('<desktop') {
            padding: 15px;
        }
    }
    .inner{
        max-height: 100%;
        overflow: hidden;
        position: relative;
        &:after{
            @include animate(opacity height);
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 0;
            overflow: hidden;
            display: block;
            pointer-events: none;
            background: linear-gradient(to bottom, rgba(0,37,102,0) 0%,rgba(0,37,102,1) 100%);
        }
    }
    .vacancy-title{
        font: 30px/1.25 map-get($base, 'bold-font-family');
        text-transform: uppercase;
        display: block;
        padding-bottom: 24px;
        margin: 0 0 33px;
        position: relative;
        @include media('<desktop') {
            font-size: 20px;
            padding-bottom: 4px;
            margin-bottom: 15px;
        }
        &:before{
            @include animate(background);
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 95px;
            height: 4px;
            background: map-get($base, 'base-text-color');
            display: block;
        }
        .span{
            max-height: 111px;
            overflow: hidden;
            display: inline-block;
            @include media('<desktop') {
                max-height: 75px;
            }
        }
    }
    .vacancy-subtitle{
        font: 30px/1 map-get($base, 'regular-font-family');
        display: block;
        @include media('<desktop') {
            font-size: 20px;
        }
    }
    .description{
        @include animate(max-height opacity);
        max-height: 252px;
        opacity: 1;
        @include media('<desktop') {
            max-height: 171px;
        }
    }
    .addon{
        @include animate(opacity);
        opacity: 0;
        position: relative;
        margin: 0 0 0 39px;
        padding-left: 38px;
        &:before{
            content: '';
            position: absolute;
            top: 7px;
            left: 0;
            display: block;
            width: 4px;
            height: 230px;
            background: $white;
            pointer-events: none;
        }
        ul{
            margin: 8px 0 0;
            padding: 0 0 0 20px;
            li{
                margin: 0 0 6px;
            }
        }
    }
}