@font-face {
	font-family: 'calibri_light';
    src: url('../fonts/calibril.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'calibri_regular';
    src: url('../fonts/Calibri.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'calibri_bold';
    src: url('../fonts/CALIBRIB.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'exo_2bold';
    src: url('../fonts/exo2-bold-webfont.woff2') format('woff2'),
         url('../fonts/exo2-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}