// Global variables
//
// Base font styles for headings and links.

// For headers
$headings: (
  'sizes': (
    'h1-font-size': 30px,
    'h2-font-size': 27px,
    'h3-font-size': 24px,
    'h4-font-size': 21px,
    'h5-font-size': 17px,
    'h6-font-size': 15px
  ),
  'fonts': (
    'headings-font-family': inherit,
    'headings-color': inherit
  )
);

// Global vars for body typography
$base: (
  'base-font-sans-serif': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-font-serif': unquote("'Times New Roman', Times, Baskerville, Georgia, serif"),
  'base-text-color': #333,
  'base-background-color': #fff,
  'base-link-color':#002566,
  'base-font-size': 24px,
  'base-line-height': 1.25,
  'base-font-family': unquote("'calibri_light', Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'bold-font-family': unquote("'calibri_bold', Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'regular-font-family': unquote("'calibri_regular', Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'secondary-font-family': unquote("'exo_2bold', Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'secondary-light-font-family': unquote("'exo_2light', Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'base-min-width': 320px
);

// Vars for forms
$forms: (
  'form-font-family': unquote("Arial, 'Helvetica Neue', Helvetica, sans-serif"),
  'form-element-padding': unquote("0.4em 0.7em"),
  'form-element-border-color': #999,
  'form-element-focus-border-color': #000,
  'placeholder-color': #999
);

// Breakpoints for include media mixin
$breakpoints: (
  'phone': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1200px
);

// Keywords for include media mixin
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// colors
$white: #fff;
$black: #000;
$blue: #002566;