.footer{
    color: $white;
    background: $blue;
    padding: 40px 0;
    @include media('<tablet') {
        padding: 25px 0 10px;
    }
    .container{
        display: flex;
        max-width: 1780px;
        @include media('<widescreen') {
            flex-wrap: wrap;
        }
    }
    a{
        color: $white;
    }
    .logo-footer{
        font-size: 31px;
        color: $white;
        flex: 0 0 auto;
        margin-right: 15px;
    }
    .social{
        font-size: 24px;
        margin: 25px 18px 0 0;
        flex-direction: row;
        animation: none;
        @include media('<tablet') {
            margin: 0;
        }
        li{
            margin: 0 0 0 36px;
            &:first-child{
                margin: 0;
            }
        }
        a{
            color: $white;
            opacity: 1;
            &:hover{
                opacity: 0.73;
            }
        }
    }
    .item{
        display: flex;
        padding-right: 15px;
        @include media('<widescreen') {
            margin-bottom: 15px;
        }
        @include media('<tablet') {
            padding-right: 0;
            justify-content: center;
            text-align: center;
        }
        &.logo-item{
            width: 24%;
            @include media('<widescreen') {
                width: 33.33%;
                order: 1;
            }
            @include media('<tablet') {
                width: 100%;
            }
        }
        &.participant-item{
            width: 27%;
            @include media('<widescreen') {
                width: 33.33%;
                order: 2;
            }
            @include media('<tablet') {
                width: 100%;
            }
        }
        &.email-item{
            width: 18%;
            @include media('<widescreen') {
                width: 33.33%;
                order: 4;
            }
            @include media('<tablet') {
                width: 100%;
            }
        }
        &.tel-item{
            @include media('<widescreen') {
                width: 33.33%;
                order: 5;
            }
            @include media('<tablet') {
                width: 100%;
            }
        }
        &.social-item{
            margin-left: auto;
            @include media('<widescreen') {
                order: 3;
            }
            @include media('<tablet') {
                width: 100%;
                order: 6;
            }
        }
        .icon-logo-mobile{
            margin-top: 6px;
            display: block;
        }
        .title-footer{
            font: normal 18px/1.1 map-get($base, 'bold-font-family');;
            letter-spacing: normal;
            display: block;
            margin-bottom: 4px;
        }
        .text-footer{
            display: flex;
            flex-direction: column;
        }
        .simple-footer-text{
            font: normal 18px/1.3 map-get($base, 'base-font-family');;
            letter-spacing: normal;
        }
    }
}