.header{
    @include animate(background, 1s);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 110px;
    padding-right: 17px;
    background: transparent;
    animation: header-init 1s forwards;
    animation-fill-mode: both;
    @include media('<=desktop') {
        padding-right: 0;
    }
    @include media('<desktop') {
        padding: 15px 0 6px;
        height: auto;
    }
    .menu-active &{
        @include media('<desktop') {
            background: $blue;
        }
    }
    .hide-section &,
    &.white-header{
        background: $white;
        padding-right: 0;
        .login-link{
            color: map-get($base, 'base-text-color');
            &:hover{
                color: $blue;
                border-color: $blue;
            }
        }
        .logo{
            .ico{
                color: $blue;
            }
        }
    }
    .hide-section.menu-active &{
        background: $blue;
        .login-link{
            color: $white;
            &:hover{
                color: $white;
                border-color: $white;
            }
        }
        .logo{
            .ico{
                color: $white;
            }
        }
    }
    .selected &{
        animation: header-init 1s forwards;
        animation-fill-mode: both;
    }
    &.white-header{
        .menu-active &{
            .burger-btn{
                @include media('<desktop') {
                    color: $white;
                }
            }
            background: $blue;
            .login-link{
                color: $white;
                &:hover{
                    color: $white;
                    border-color: $white;
                }
            }
            .logo{
                .ico{
                    color: $white;
                }
            }
        }
        .burger-btn{
            @include media('<desktop') {
                color: $blue;
            }
        }
    }
    .logo{
        flex: 0 0 auto;
        a{
            text-decoration: none;
        }
        .ico{
            @include animate(color);
            font-size: 85px;
            color: $white;
            @include media('<desktop') {
                font-size: 25px;
            }
            &:before{
                @include media('<desktop') {
                    content: "\e910";
                }
            }
            
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .login-link{
        @include animate(border-color color);
        font: 18px/1 map-get($base, 'bold-font-family');
        letter-spacing: normal;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        flex: 0 0 auto;
        position: relative;
        padding: 0 0 5px 55px;
        margin-bottom: -8px;
        border-bottom: 2px solid transparent;
        @include media('<desktop') {
            display: none;
        }
        &.mobile{
            display: none;
            @include media('<desktop') {
                display: inline-block;
                border: 2px solid $white;
                border-radius: 8px;
                min-width: 200px;
                text-align: left;
                padding: 10px 0 10px 70px;
                margin-bottom: 65px;
            }
        }
        &:hover{
            border-color: $white;
        }
        .ico{
            font-size: 44px;
            position: absolute;
            top: -4px;
            left: 0;
            @include media('<desktop') {
                font-size: 23px;
                top: 17px;
                left: 29px;
            }
        }
    }
    .burger-btn{
        display: none;
        @include media('<desktop') {
            @include animate(color);
            display: block;
            background: none;
            border: none;
            color: $white;
            margin: 0 -8px 0 0;
            transform: translateY(-5px);
        }
        &:before{
            .menu-active &{
                @include media('<desktop') {
                    content: '\e911';
                    transform: scale(-1, 1);
                    display: inline-block;
                }
            }
        }
        .hide-section &{
            @include media('<desktop') {
                color: $blue;
            }
        }
        .hide-section.menu-active &{
            @include media('<desktop') {
                color: $white;
            }
        }
    }
}