.header{
    @include animate(background);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    width: 100%;
    height: 110px;
    background: transparent;
    animation: header-init 1s forwards;
    animation-fill-mode: both;
    .hide-section &{
        background: $white;
        .login-link{
            color: map-get($base, 'base-text-color');
            &:hover{
                color: $blue;
                border-color: $blue;
            }
        }
        .logo{
            .ico{
                color: $blue;
            }
        }
    }
    .selected &{
        animation: header-init 1s forwards;
        animation-fill-mode: both;
    }
    .logo{
        flex: 0 0 auto;
        a{
            text-decoration: none;
        }
        .ico{
            @include animate(color);
            font-size: 85px;
            color: $white;
        }
    }
    .container{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
    .login-link{
        @include animate(border-color color);
        font: 18px/1 map-get($base, 'bold-font-family');
        letter-spacing: normal;
        color: $white;
        text-decoration: none;
        text-transform: uppercase;
        flex: 0 0 auto;
        position: relative;
        padding: 0 0 5px 55px;
        margin-bottom: -8px;
        border-bottom: 2px solid transparent;
        &:hover{
            border-color: $white;
        }
        .ico{
            font-size: 44px;
            position: absolute;
            top: -4px;
            left: 0;
        }
    }
}